@import url("./reset.css");

:root{
  --gauge-value:0%;
}

.progressbar-wrapper p{
  font-size:0.7rem;
  text-align: right;
  color: #bbb6ae;
}

.progressbar-wrapper {
  height:15vh;
}


.progressbar{
  display: inline-block;
  width: 520px;
  height: 21px;
  background-color:#ede9d6;
  border-radius: 10px;

}

.gauge{
  display: inline-block;
  width: var(--gauge-value);
  height: 21px;
  background-color: #3d0719;
  border-radius:10px;
  transition: 0.3s linear;
}

.content-wrapper{
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-wrapper.result{
  width:100vw;
  height:auto;
}

.content.main{
  justify-content:space-around;
}


.content{
  width:550px;
  height:70%;

  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.selectBtnWrapper{
  display: flex;
  flex-direction: column;
  width:100%;
  height: 30vh;
  justify-content: center;
  align-items: center;
  
}

.selectBtnWrapper > div{
  width:100%;
  height:100%;
  margin : 30px 0;
  text-align:center;
}


.answerBtn{
  background-color: #3d0719;
  text-align: center;
  padding:15px 20px;
  height:auto; 
  width:90%;
  color:white;
  border-radius: 10px;
  border-color: none;
  font-size:0.7rem;
  font-weight: 100;
  box-shadow: rgb(61 7 25 / 34%) 0px 5px 20px;
  transform:translateY(0px);
  transition: transform 0.2s ease-in-out 0s;
}

.answerBtn:hover{
  transform:translateY(-4px);
  transition: transform 0.2s ease-in-out 0s;

}

.main .answerBtn{
  width:80%;
}

.main .content{
  width:495px;
  height:60%;
  justify-content: space-around;
  align-items: center;
}

.questionWrapper{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:15% 0;
  height:30vh;
}

h1{
  margin-bottom:0;
}


.result, .tastingnoteWrapper{
  border:1px solid #ede9d6;
  border-radius: 10px;
  margin-bottom:10%;
}

.result > .content{
  width:550px;
  padding:7% 10px;
  border:1px solid #ede9d6;
  border-radius: 10px;
  background-image: linear-gradient(rgb(255,255,255) 0%, rgba(255, 251, 230,0) 40%, rgb(255, 251, 230,0) 100%);

  height:auto;
 margin:60px auto;
 box-shadow: 3px 10px 10px rgba(0,0,0,0.2)
}

.tastingnoteWrapper{
  width:100%;
  height:auto;
  padding-bottom:15%;
  display:flex;
  justify-content: center;
  align-items: center;
   box-shadow: 0px 5px 3px rgba(0,0,0,0.1)
}

.titleWrapper{
  width:100%;
  height:auto;

  margin:10% 0;
  display:flex;
  justify-content: center;
  align-items: center;
  background-image : linear-gradient(rgba(255, 255,255) 0%, rgba(255, 255,255) 73%, rgb(255, 251, 230,0) 73%);


}


.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}


.complete ~ h5{
  color:rgb(19, 201, 124);
}

.shareBtnWrapper{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:10%;
  margin-top:0;
}

.shareBtns{
  display:flex;
  width:60%;
  justify-content:space-around;
}

.shareBtn > img{
  width:60px;
    cursor:pointer; 
}
  .loadingImg{
    width:13%;
    position:absolute;
    top:30;
    left:45;
  }

  .complete_img{
    width:45px;
  }

@media (min-width: 320px) and (max-width: 480px) {

  .content{
    width:75%;
    height:75%;
  }

  .main .content{
    width:75%;
    height:75%;
  }

  .progressbar{
    width: 300px;
    height: 21px;

  }

  .gauge{
    display: inline-block;
    width: var(--gauge-value);
    height: 21px;
    background-color: #3d0719;
    border-radius:10px;
    transition: 0.3s linear;
  }

  .result > .content{
    width:95%;
    margin:0;
    border: none;
    background-image: linear-gradient(rgb(255,255,255) 0%, rgba(255, 251, 230,0) 40%, rgb(255, 251, 230,0) 100%);
  }

  .tastingnoteWrapper{
    margin:10px;
    width:90%;
  }

  .tastingnoteWrapper > img{
    width:95%;
  }

   .titleWrapper > img{
    width:95%;
  }

  .loadingImg{
    width:8rem;
  }
  .shareBtns{
  width:80%;
}
  .shareBtn > img{
  width:45px;
}
}